<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kbar3.amkor.mapper.AmkorMapper">
    <select id="testFind" resultType="kbar3.amkor.dto.testDto">
        SELECT 
        machine_id as machineId,
        machine_name as machineName
        FROM machine
    </select>
</mapper>